<html>
  <head>
    <title>Recycl | {{{title}}}</title>
    <meta
      name='viewport'
      content='minimum-scale=1, initial-scale=1, width=device-width'
    />
    <link rel='shortcut icon' href='#' />
    <style id='jss-server-side'>{{{css}}}</style>
  </head>
  <body>
    <div id='root'>{{{content}}}</div>
  </body>
  <script type='text/javascript' src='/client.js'></script>
</html>